@{
    ViewData["Title"] = "Kalender";
}
@model KalenderObject

<p>Hieronder vindt u een kalender, handig voor iedere Krisnaldo-fan.</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Uur</th>
            <th>Type</th>
            <th>Match</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lovEvent in Model.KalenderEvents)
        {
            <tr>
                <td>@lovEvent.DagDisplay</td>
                <td>@lovEvent.UurDisplay</td>
                <td>@lovEvent.MatchType.ToString()</td>
                <td>@lovEvent.MatchDisplay</td>
            </tr>
        }
    </tbody>
</table>