@{
    ViewData["Title"] = "Home";
}

@*<img src="~/images/banners/KND2020banner.jpg" class="img-fluid  rounded" alt="Responsive image">*@
<h4>Wat is de Kwisnaldo's?</h4>
<p class="text-justify">Het is een leuke quiz, die al zes edities heeft gehad. Doordat het in 2021 niet is kunnen doorgaan, zijn we in 2022 aan onze zevende editie toe.  De Krisnaldo's steken de quiz in elkaar. Tactisch worden sommige spelers aan de jury-tafel geplaatst, anderen achter de bar. Nog anderen nemen met plezier een opdienplateau in de hand of lezen de vragen voor.</p>
<p class="text-justify">Wie ons kent, weet dat we proberen origineel uit de hoek te komen. Na de grootschalige editie van vorig jaar in De Gulden Zonne keren we nu terug naar het kleinere Geitenhove, waar plaats is voor 38 teams. We zorgen ervoor dat iedereen in de prijzen valt met een aantal prachtige hoofdprijzen. @*Geen geoefende quizzer? Geen probleem! Ook dit jaar is er een zuipbeker voorzien zodat quizploegen met andere talenten ook aan hun trekken komen.*@</p>
<p class="text-justify">Met de opbrengst van de quiz kunnen we vele kosten van onze voetbalploeg dekken: aankoop truitjes, bijdrage aan de scheidsrechters of huur van het veld. Ook de deelname aan voetbaltornooien of een sporadische teambuildingsactiviteit wordt door jullie bijdrage mogelijk gemaakt.</p>
@*<div class="alert alert-warning" role="alert">
        <b>Update op 7 december 2020: </b>De 7de editie van de Kwisnaldo's (die was voorzien op 20 februari 2021) gaat helaas niet door. Normaal gezien zetten we medio december de inschrijvingen open en starten we de voorbereidingen, nu is er helaas te weinig perspectief dat de maatregelen op dat moment een quiz met 200 mensen zullen mogelijk maken.
    </div>*@
<h4>Locatie</h4>
<p><b>Zaal Geitenhove</b>, Amersveldestraat 55, Hooglede</p>
<h4>Datum</h4>
<ul>
    <li>Zaterdag 15 januari 2022</li>
    <li>Opening van de deuren: 19u00</li>
    <li>Start van de quiz: 20u00</li>
    <li><i>Gelieve 15 minuten voor aanvang aanwezig van de quiz aanwezig te zijn.</i></li>
</ul>
<h4>Prijs</h4>
<p class="text-justify">Een team bestaat uit maximaal 5 deelnemers. De kostprijs per team bedraagt € 25.</p>
<h4>Hoe kan ik inschrijven?</h4>
@*<p class="text-justify">@*Inschrijven kan via <a href="https://forms.gle/aFeUga79YU9saknPA" target="_blank">deze link</a></p>*@
<p class="text-justify">Inschrijven is <b>nog niet mogelijk.</b> Deze worden opengezet halverwege november 2021.</p>

<h4>Foto's</h4>
<p class="text-justify">Bekijk de foto's van de voorbije zes jaar via <a asp-area="" asp-controller="Album" asp-action="QuizIndex">deze link</a>.</p>