@{
    ViewData["Title"] = "Home";
}

<!--
  <i class="fa fa-info-circle" aria-hidden="true"></i>
<i class="fa fa-map-marker" aria-hidden="true"></i>
@*<img src="~/images/kwis/FacebookBannerKwis_2019.jpg" class="img-rounded img-responsive" alt="FacebookBanner">*@
<i class="fa fa-eur" aria-hidden="true">
<i class="fa fa-group" aria-hidden="true"></i>&nbsp;
    <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
    <h4><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;&nbsp;<a asp-area="" asp-controller="Albums" asp-action="Index">Bekijk de foto's van de voorbije vijf jaar via deze link.</a></h4>
-->

<div class="text-left">

    <img src="~/images/banners/KND2020banner.jpg" class="img-fluid  rounded" alt="Responsive image">
    <p></p>
    <h4>Wat is de Kwisnaldo's?</h4>
    <p>Het is een leuke quiz, die al vijf edities heeft gehad. De Krisnaldo's steken de quiz in elkaar. Tactisch worden sommige spelers aan de jury-tafel geplaatst, anderen achter de bar. Nog anderen nemen met plezier een opdienplateau in de hand of lezen de vragen voor.</p>
    <p>Wie ons kent, weet dat we proberen origineel uit de hoek te komen. Na de grote interesse van vorig jaar trekken we nu naar een grotere zaal om maar liefst 50 teams een leuke avond te bezorgen.</p>
    <p>Met de opbrengst van de quiz kunnen we vele kosten van onze voetbalploeg dekken: aankoop truitjes, bijdrage aan de scheidsrechters of huur van het veld. Ook de deelname aan voetbaltornooien of een sporadische teambuildingsactiviteit wordt door jullie bijdrage mogelijk gemaakt.</p>
    <h4>Locatie</h4>
    <p><b>De Gulden Zonne</b> Marktplaats 11, Hooglede</p>
    <h4>Datum</h4>
    <ul>
        <li>Zaterdag 22 februari 2020</li>
        <li>Opening van de deuren: 19u00</li>
        <li>Start van de quiz: 20u00</li>
        <li><i>Gelieve 15 minuten voor aanvang aanwezig van de quiz aanwezig te zijn.</i></li>
    </ul>
    <h4>Prijs</h4>
    <p>Een team bestaat uit maximaal 5 deelnemers. De kostprijs per team bedraagt € 20.</p>
    <h4>Hoe kan ik inschrijven?</h4>
    <p>Inschrijven kan via <a href="https://forms.gle/aFeUga79YU9saknPA" target="_blank">deze link</a>.</p>
</div>