@{
    ViewData["Title"] = "Sponsors - Voorbeeldmail";

}

@{
    ViewData["Title"] = "Voorbeeldmail";
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<div ng-app="">

    <div class="col-md-12">
        <div class="alert alert-warning">
            <p>Vul hier eerst de variabele gegevens in</p>

            <p>Voorstel voor prijs van deze sponsor: <input type="text" ng-model="prijsvoorstel"></p>
            <p>Bedrijfsnaam: <input type="text" ng-model="bedrijfsnaam"></p>
            <p>Afzendernaam: <input type="text" ng-model="afzendernaam"></p>
            <p>GSM nummer (zonder +32 en zonder nul, vb. 477069583):<input type="text" ng-model="gsmnummer"></p>
            <p>Eventuele extra aanspreking:<input type="text" ng-model="extraaanspreking"></p>
        </div>
        <div class="alert alert-success">
            Hieronder kan je het resultaat zien dat je dan kan knippen en in je GMail te plakken of in het contactformuliertje van hun website.
            <b>
                Vergeet aub niet de Exel aan te vullen via <a target="_blank" href="https://docs.google.com/spreadsheets/d/1hjoxjsXcH5NMuhkC5xAooxx6lto2bVmcJTXoPmv2-cY/edit?usp=sharing">deze link</a>.
            </b>
        </div>
    </div>
    <hr />
    <div id="myInput">
        <p>Geachte <span ng-bind="extraaanspreking"></span>,</p>
        <p>Op zaterdagavond 22 februari 2020 in zaal De Gulden Zonne te Hooglede organiseren we de 6de editie van een algemene quiz met onze voetbalploeg ("De Krisnaldos"), die uitkomt in het Roeselaars Liefhebbersvoetbal. We verwachten voor deze quiz een aanwezigheid van 200 &agrave; 250 personen, verdeeld over 50 teams (dit jaar verhoogd van 38 naar 50, aangezien we door de grote interesse een grotere zaal hebben geboekt). </p>
        <p>
            De prijzen kunnen variëren van kleine gadgets tot iets meer waardevolle prijzen voor de winnaars. We rekenen elk jaar op sponsors om die prijzen te voorzien, <span ng-bind="prijsvoorstel"></span> zou(den) bijvoorbeeld ideaal zijn. In ruil daarvoor krijgt het logo van de sponsors steevast een plaatsje op de antwoordfomulieren, drankkaarten en presentatie zelf. Als sponsor van de quiz krijgt u ook <b>extra zichtbaarheid op onze website.</b>
        </p>

        <p>
            Hieronder vindt u de link naar het Facebook evenement en de foto&acute;s van de voorbij vijf edities:
            <ul>
                <li>Het Facebook-event: <a href="https://www.facebook.com/events/592009284949560/">https://www.facebook.com/events/592009284949560/</a></li>
                <li>Onze website:  <a href="https://www.krisnaldos.be">https://www.krisnaldos.be</a> </li>
                <li>Kwisnaldo's 2015: <a href="http://krisnaldos.be/Albums/kwisnaldos2015">http://krisnaldos.be/Albums/kwisnaldos2015</a></li>
                <li>Kwisnaldo's 2016: <a href="http://krisnaldos.be/Albums/kwisnaldos2016">http://krisnaldos.be/Albums/kwisnaldos2016</a></li>
                <li>Kwisnaldo's 2017: <a href="http://krisnaldos.be/Albums/kwisnaldos2017">http://krisnaldos.be/Albums/kwisnaldos2017</a></li>
                <li>Kwisnaldo's 2018: <a href="http://krisnaldos.be/Albums/kwisnaldos2018">http://krisnaldos.be/Albums/kwisnaldos2018</a></li>
                <li>Kwisnaldo's 2019: <a href="http://krisnaldos.be/Albums/kwisnaldos2019">http://krisnaldos.be/Albums/kwisnaldos2019</a></li>
                <li>Ploegfoto's 2019 (met ex-hoofdsponsor Driemo, waarvoor we nu nog <b>een nieuwe kandidaat zoeken</b>): <a href="http://krisnaldos.be/Albums/kwisnaldos2019ploegen">http://krisnaldos.be/Albums/kwisnaldos2019ploegen</a></li>
            </ul>
        </p>
        <p>Zou <span ng-bind="bedrijfsnaam"></span> hier eventueel in ge&iuml;nteresseerd zijn? U zou ons er alvast een groot plezier mee doen. Alvast bedankt voor uw antwoord!</p>
        <p>
            Met vriendelijke groeten,<br />
            <span ng-bind="afzendernaam"></span>
            <br />
            <i>Bereikbaar op dit e-mailadres of via het GSM-nummer +32 <span ng-bind="gsmnummer"></span></i>
        </p>
    </div>
</div>