@{
    ViewData["Title"] = "Sponsors - Voorbeeldmail";

}

@{
    ViewData["Title"] = "Voorbeeldmail";
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<style type="text/css">
    .btn.btn-secondary.active {
        font-weight: bold;
        background-color: forestgreen !important;
        border-color: white !important;
    }
</style>
<div ng-app="">

    <div class="alert alert-warning">
        <form>
            <p>Vul hier eerst de variabele gegevens in</p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked value="nieuw"> Nieuwe Sponsor
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off" value="oud"> Oude Sponsor
                </label>
            </div>

            <p id="prijs-voorstel-vraag" class="mt-1" style="color:red;">Wat hebben we vorig jaar gekregen van deze sponsor:	&nbsp;	&nbsp; <input type="text" ng-model="prijsvoorstel"></p>
            <p class="mt-5">Bedrijfsnaam:	&nbsp;	&nbsp;<input type="text" ng-model="bedrijfsnaam"></p>
            <p>Eigen naam: 	&nbsp;	&nbsp;<input type="text" ng-model="afzendernaam"></p>
            <p>GSM nummer (zonder +32 en zonder nullen of spaties, vb. 477069583):	&nbsp;	&nbsp;<input id="gsmnummer-ingegeven" type="text"></p>
            <p>Eventuele extra aanspreking:	&nbsp;	&nbsp;<input type="text" ng-model="extraaanspreking"></p>
        </form>
    </div>

    <div class="alert alert-success">
        Hieronder kan je het resultaat zien dat je dan kan knippen en in je GMail of Hotmail plakken of in het contactformuliertje van hun website.
        <b>
            Vergeet aub niet de Exel aan te vullen via <a target="_blank" href="https://docs.google.com/spreadsheets/d/1hjoxjsXcH5NMuhkC5xAooxx6lto2bVmcJTXoPmv2-cY/edit?usp=sharing">deze link</a>.
        </b>
    </div>
    <hr />
    <div>
        <p>Geachte <span ng-bind="extraaanspreking"></span>,</p>
        <p>Op zaterdagavond 3 februari 2024 in zaal Geitenhove te Hooglede (Amersveldestraat 55) organiseren we de 9de editie van een algemene quiz met onze voetbalploeg ("De Krisnaldos"), die uitkomt in het Roeselaars Liefhebbersvoetbal. We verwachten voor deze quiz een aanwezigheid van 150 &agrave; 200 personen, verdeeld over 38 teams. </p>
        <p>De prijzen kunnen variëren van kleine gadgets tot iets meer waardevolle prijzen voor de winnaars. We rekenen elk jaar op sponsors om die prijzen te voorzien. In ruil daarvoor krijgt het logo van de sponsors steevast een plaatsje op de antwoordformulieren, drankkaarten en presentatie zelf. Als sponsor van de quiz krijgt u ook <b>extra zichtbaarheid op onze website</b> via <a href="http://krisnaldos.be/sponsors">onze sponsorpagina</a>.</p>
        <p id="prijs-vorig-jaar">
            Vorig jaar mochten we <span ng-bind="prijsvoorstel"></span> ontvangen van jullie, waarvoor dank.
        </p>
        <p>
            Hieronder vindt u de link naar het Facebook evenement en de foto&acute;s van de voorbije zes edities:
            <ul>
                <li>Het Facebook-event: <a href="https://www.facebook.com/events/1602723843592101/">https://www.facebook.com/events/1602723843592101/</a></li>
                <li>Onze website:  <a href="https://www.krisnaldos.be">https://www.krisnaldos.be</a> </li>
                <li>Albums van de voorbije jaren: <a href="https://krisnaldos.be/QuizAlbums">https://krisnaldos.be/QuizAlbums</a></li>
            </ul>
        </p>
        <p>Zou <span ng-bind="bedrijfsnaam"></span> hier eventueel in ge&iuml;nteresseerd zijn? U zou ons er alvast een groot plezier mee doen. Alvast bedankt voor uw antwoord!</p>
        <p>
            Met vriendelijke groeten,<br />
            <span ng-bind="afzendernaam"></span>
            <br />
            <div></div>
            <i>Bereikbaar op dit e-mailadres of via het GSM-nummer +32 <span id="gsmnummer-bewerkt"></span></i>.
        </p>
    </div>
</div>
