@{
    ViewData["Title"] = "Update Possibilities";
}
<p>Hieronder vindt u enkele update-mogelijkheden.</p>
<ul>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Update" asp-action="StoreCurrentRankingFromRLV">Update Ranking van de  RLV-website.</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Update" asp-action="StoreCurrentCalendarFromGoogleSheet">Update Calendar van Google Drive.</a></li>
</ul>
<p>@ViewBag.CurrentServerTime .</p>
<p>@ViewBag.LocalTime .</p>