@{
    ViewData["Title"] = "Albums";
}

<!--
  <i class="fa fa-info-circle" aria-hidden="true"></i>
<i class="fa fa-map-marker" aria-hidden="true"></i>
@*<img src="~/images/kwis/FacebookBannerKwis_2019.jpg" class="img-rounded img-responsive" alt="FacebookBanner">*@
<i class="fa fa-eur" aria-hidden="true">
<i class="fa fa-group" aria-hidden="true"></i>&nbsp;
    <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
    <h4><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;&nbsp;<a asp-area="" asp-controller="Albums" asp-action="Index">Bekijk de foto's van de voorbije vijf jaar via deze link.</a></h4>
-->

<div class="text-left">
    <p>Hier komen alle albums van matchen en de quiz-edities.</p>
</div>